<div class="blog-post">
  <%= link_to "Create New Blog", new_blog_url %>
  <%= render @blogs %><!-- instance of the show page controller and the partial needs to have the same name -->
    
</div><!-- /.blog-post -->
