<div class="col-sm-8 blog-main">
  <%= paginate @blogs %>
  <%= render @blogs %><!-- instance of the show page controller and the partial needs to have the same name -->
  <%= paginate @blogs %>
</div><!-- /.blog-post -->
