<h1><%= @blog.title %></h1>
<div><%= @portfolio_item.body %></div>
  <%= link_to "EDIT", edit_blog_path(blog) %>
  <%= link_to "DELETE", blog, method: :delete, :data => { confirm: "are you sure?" } %>
