<div class="album text-muted">
  <div class="container">
    <div class="row <%= 'sortable' if logged_in?(:site_admingit ) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      <%# partial: ==>this is a partial, 'portfolio_item' ==> the name/path of the file partial, collection ==> we are passing a collection not just one record %>
    </div>
  </div>
</div>
