<h1>Portfolios#index</h1>

<%= link_to "Create New Portfolio", new_portfolio_url %>
<%= render partial: 'portfolio_item', collection: @portfolio_items %>
<%# partial: ==>this is a partial, 'portfolio_item' ==> the name/path of the file partial, collection ==> we are passing a collection not just one record %>
