<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Armandoltx</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper('nav-link', 'span') %>  <!-- It is a helper method -->
      <%= login_helper('nav-link') %>  <!-- It is a helper method -->
    </nav>
  </div>
</div>