<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= nav_helper('nav-link', 'span') %>  <!-- It is a helper method -->
      <%= login_helper('nav-link') %>  <!-- It is a helper method -->
    </nav>
  </div>
</div>