<div class="modal" id="registerLoginModal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header dark">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">hello portfolio</h4>
      </div>
      <div class="modal-body">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->