<button
   class="btn btn-primary"
   type="button"
   data-toggle="collapse"
   data-target="#jobHistory"
   aria-expanded="false"
   aria-controler="jobHistory"
 >
   Job History
 </button>
 <!-- it will render whatever you put in the div with the id jobHistory because we are targeting it:     data-target="#jobHistory"
 -->
 <button
   class="btn btn-primary"
   type="button"
   data-toggle="collapse"
   data-target="#education"
   aria-expanded="false"
   aria-controler="education"
 >
   Education
 </button>

 <button
   class="btn btn-primary"
   type="button"
   data-toggle="collapse"
   data-target="#courses"
   aria-expanded="false"
   aria-controler="courses"
 >
   Courses Developed
 </button>

 <button
   class="btn btn-primary"
   type="button"
   data-toggle="collapse"
   data-target="#press"
   aria-expanded="false"
   aria-controler="press"
   >
   Press 
 </button>
 
 <div class="collapse" id="jobHistory">
   <div class="card card-block">
     Job 1
   </div>
   <div class="card card-block">
     Job 2
   </div>
 </div>
 
 <div class="collapse" id="education">
   <div class="card card-block">
     School 1
   </div>
   <div class="card card-block">
     School 2
   </div>
   <div class="card card-block">
     School 3
   </div>
 </div>
 