<h1>About me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "kiteme.jpg", width: 300, alt: "random image" %>
  </div>

  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque viverra ante, ut consectetur risus elementum eget. Ut sed finibus diam. Sed volutpat lacus magna, non dapibus massa tincidunt sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    <p>Sed id elit varius, iaculis massa ac, consequat elit. Quisque vel laoreet tellus. Ut mauris augue, viverra sit amet facilisis ut, porttitor id nibh. Mauris congue vulputate posuere. Fusce eleifend vitae neque eu vehicula. Phasellus tempor a massa nec viverra.</p>
  </div>
</div>
